body {
    margin: 0 auto; 
    font-family: Arial, sans-serif;
    background-color:#ff0000;
  }
  .header {
    background-color: red;
    color: white;
    padding: 0px;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    
  }
  .sticky + .content {
    padding-top: 60px;
    background-color:#ff0000; /* vermelho claro */
  }
  .menu {
    overflow: hidden;
    background-color: #333;
  }
  .menu a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .menu a:hover {
    background-color: #111;
  }
  .footer {
    background-color: #333333;
    color: white;
    padding: 10px;
  }
  
  /* Adicionando cores */
  .content {
      background-color: #ff0000; /* cinza claro */
      width: 90%;
      margin: 0 auto; 
  }
  
  .column:nth-child(odd) { /* colunas ímpares */
      background-color:#ff0000; /* vermelho claro */
  }
  
  .column:nth-child(even) { /* colunas pares */
      background-color:#ff0000; /* vermelho mais claro */
  }
  
  .column h3, .column p { /* texto das colunas */
      color:#1d0000; /* vermelho escuro */
  }
  
