<style>
body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
 width: 100%;
 height: auto;
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #FF0000;
  color: black;
}

#navbar a.active {
  background-color: #FF0000;
  color: white;
}

.content {
  padding: 16px;
  
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
p,ul,li{
    font-size:30px;
}
h1{
    font-size:60px;
     text-align: center;
}

.container {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: absolute;
  bottom: 200px;
  right: 20px;
  color: black;
  padding-left: 55%;
  padding-right: 0px;
}

</style>
